<div class="container my-5">
    <h1 class="mb-10">Mes projets</h1>

    <div class="row">
        <div *ngFor="let projet of projets" class="col-md-4 mb-5">
            <div class="card bg-dark text-white">
                <div class="img-view">
                    <img src="{{ projet.images }}" class="card-img" alt="...">
                </div>
                <div class="card-img-overlay">
                  <h5 class="card-title">{{ projet.name }}</h5>
                  <p class="card-text">{{ projet.description }}</p>
                  <p class="card-text">{{ projet.link }}</p>
                </div>
              </div>
        </div>
    </div>
</div>
